<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiaokun.xiusou.aidl">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--<uses-permission android:name="info.xiusou.receiver.RECEIVE"/>-->

    <application
        android:name=".aidl.Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">

        <!--<service android:name="rexsee.service._Service"/>-->

        <!--<receiver android:name="rexsee.core.receiver._Receiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".aidl.Receiver.BootReceiver">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".aidl.Receiver.MyReceiver">

            <intent-filter>
                <action android:name="xiusou"/>
            </intent-filter>

        </receiver>

        <activity android:name=".aidl.Ui.SplashActivity1">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".aidl.Activity.FirstActivity"/>
        <!--<activity android:name=".Activity.FirstActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".aidl.Activity.MyWebActivity"/>
        <activity android:name=".aidl.Activity.MainActivity"/>
        <activity android:name=".aidl.Activity.ZakerNewsActivity"/>
        <activity android:name=".aidl.Activity.ZakerNewsListActivity"/>
        <activity android:name=".aidl.Activity.DutyDayActivity"/>
        <activity android:name=".aidl.Activity.FangZakerActivity"/>
        <activity android:name=".aidl.Activity.WebActivity"/>
        <activity android:name=".aidl.Activity.ViewPagerActivity"/>
        <activity android:name=".aidl.Activity.RWDemoActivity"/>
        <activity android:name=".aidl.Activity.WMActivity"/>
        <activity android:name=".aidl.Activity.PassWordActivity"/>
        <activity android:name=".aidl.Activity.sixteenToTenActivity"/>
        <activity android:name=".aidl.Activity.GuideHelperActivity"/>
        <activity android:name=".aidl.Activity.EventConflictActivity"/>
        <activity android:name=".aidl.Activity.TopFloatActivity"/>
        <activity android:name=".aidl.Activity.CustomViewActivity"/>
        <activity android:name=".aidl.Activity.LuckPanActivity"/>
        <activity android:name=".aidl.Activity.SmartTimeActivity"/>
        <activity android:name=".aidl.Activity.SearchViewActivity"/>
        <activity android:name=".aidl.Activity.Intent2Activity"/>
        <activity android:name=".aidl.Activity.HtmlActivity"/>
        <activity android:name=".aidl.Activity.DownLoadActivity"/>
        <activity android:name=".aidl.Activity.MyCollectionActivity"/>
        <activity android:name=".aidl.Activity.DownTaskActivity"/>
        <activity android:name=".aidl.Activity.HotUpdateActivity"/>
        <activity android:name=".aidl.Activity.TextViewActivity"/>
        <activity android:name=".aidl.Activity.NotifacationUpadateActivity"/>
        <activity android:name=".aidl.Activity.DialogActivity"/>
        <activity android:name=".aidl.Activity.ListLinearLayoutActivity"/>
        <activity android:name=".aidl.Activity.ImageViewActivity"/>
        <activity android:name=".aidl.Activity.RetrofitDownLoadActivity"/>
        <activity android:name=".aidl.Activity.SearchViewWithRvActivity"/>
        <activity android:name=".aidl.Activity.FunctionActivity"/>
        <activity
            android:name=".aidl.Activity.RetrofitUploadActivity"
            android:label="upload"
            android:parentActivityName=".aidl.Activity.FirstActivity"/>

        <service android:name=".aidl.Service.UpdateService"/>
        <service android:name=".aidl.Service.DownloadService"/>
    </application>

</manifest>